backend:
  name: github
  repo: Kiriba4/her-new-beginning
  branch: main
media_folder: "/imagesuploads"
public_folder: "/images/uploads"
collections:
  - name: "pages"
    label: "Pages"
    folder: "content/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "date",name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }